
.main-text{

  .section-title{
     font-size: 20px;
    margin-bottom: 20px;
  }

  .intro-title{
    font-family: Playfair Display,serif;
  }
}

.main-text{

  .section-title{
     font-size: 20px;
    margin-bottom: 20px;
  }

  .intro-title{
    font-family: Playfair Display,serif !important;
  }
}

.main-text{

  .section-title{
     font-size: 20px;
    margin-bottom: 10px;
  }

  .intro-title{
    font-family: Playfair Display,serif !important;
  }
}

.main-text{

  .section-title{
     font-size: 20px;
    margin-bottom: 10px !important;
  }

  .intro-title{
    font-family: Playfair Display,serif !important;
  }
}